---
import Layout from "../layouts/Layout.astro";
import ShowcaseCard from "../components/ShowcaseCard.astro";
import { getCollection } from "astro:content";

const base = import.meta.env.BASE_URL;

const blogPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

const sortedPosts = blogPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title="Blog - Jonas N" description="A place to hold my thoughts">
  <h1>Blog</h1>
  <p class="subtitle">A collection of thoughts and explorations.</p>
  <div class="card-grid">
    {
      sortedPosts.map((post) => (
        <ShowcaseCard
          href={`${base}/blog/${post.slug}`}
          title={post.data.title}
          description={post.data.description}
          image={post.data.image}
          tags={post.data.tags}
        />
      ))
    }
    {sortedPosts.length === 0 && <p>No blog posts found...</p>}
  </div>
</Layout>

<style>
  h1 {
    font-size: 2.5rem;
    color: var(--theme-accent-2);
    font-family: var(--font-family-mono);
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 1.2rem;
    color: var(--theme-text-muted);
    margin-bottom: 2rem;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
